*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

/* RIUTILIZZABILI */
ul li a{
  text-decoration: none;
  list-style-type: none;
  color: grey;
  font-size: 20px;
  padding: 10px 0;
}

.text-white{
  color: white;
}

.text-grey{
  color: grey;
}

.h-20{
  height: 20px;
}

.pd-r-10{
  padding-right: 10px;
}

.m-t-10{
  margin-top: 10px;
}

.m-b-10{
  margin-bottom: 10px;
}

.m-b-20{
  margin-bottom: 20px;
}

.m-b-30{
  margin-bottom: 30px;
}

.hidden{
  visibility: hidden;
  height: 0;
  padding: 0;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: lightgreen;
  overflow: hidden;
}

/* MAIN */
main{
  display: flex;
  height: calc(100% - 100px);
}

/* MAIN MENU/PARTE SINISTRA */
.main-menu{
  width: 250px;
  height: 100%;
  font-size: 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.main-menu .invista{
  width: 200px;
  padding: 10px;
}

.main-menu .main-menu-header img{
  height: 20px;
  width: 20px;
  padding: 0;
  margin-right: 10px;
}

.main-menu .main-menu-header div{
  display: flex;
  align-items: center;
}

.main-menu .main-menu-header p{
  display: inline-block;
}

.main-menu .main-menu-header div:hover{
  color: white;
  border-left: 5px solid green;
  cursor: pointer;
  padding-left: 10px;
}

.main-menu-playlist{
  flex-grow: 2;
  min-height: 150px;
  overflow-y: auto;
}

.titoli-playlist div{
  display: flex;
  align-items: center;
}

.titoli-playlist div:hover{
  color: white;
  cursor: pointer;
}

.titoli-playlist div i{
  font-size: 40px;
}

.titoli-playlist div p{
  display: inline-block;
}

.main-menu-utente div{
  display: flex;
  align-items: center;
}

.main-menu-utente img{
  height: 20px;
  width: 20px;
  padding: 0;
  margin-right: 10px;
}

.main-menu-utente h4, .main-menu-utente h3{
  display: inline-block;
}

.main-menu-utente h4:hover{
  color: white;
  cursor: pointer;
}

 .main-menu-utente h3:hover{
   color: green;
   cursor: pointer;
 }
/* MAIN MENU/PARTE SINISTRA */

/* VERSIONE SMARTPHONE */
@media screen and (max-width: 480px){
  .main-menu .hidden{
    visibility: visible;
      width: 30px;
      height: 30px;
      margin-bottom: 10px;
  }

  .main-menu{
    width: 50px;
    display: flex;
    flex-direction: column;
  }

  .main-dischi{
    width: calc(100% - 50px);
  }

  .main-dischi .upgrade{
    width: calc(100% - 50px);
  }

  .main-menu .invista, .main-menu-header div p, .titoli-playlist, .main-menu-playlist, .main-menu-utente h4, .main-menu-utente h3{
    display: none;
    visibility: hidden;
  }
}

/* MAIN DISCHI/PARTE DESTRA */
.main-dischi{
  width: calc(100% - 250px);
  height: 100%;
  padding: 110px 10px 10px;
  overflow-y: scroll;
  background-color: rgb(16, 25, 50);
}

.main-dischi .upgrade{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(11, 11, 11, 0.5);
  width: calc(100% - 250px);
  height: 100px;
  line-height: 90px;
  text-align: right;
}

.upgrade .btn{
  margin-right: 20px;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid white;
}

.upgrade a.btn{
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.main-dischi-menu ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-dischi-menu ul li{
  list-style-type: none;
  color: grey;
  padding: 10px;
  font-weight: bold;
}

.main-dischi-menu ul li:hover{
  color: white;
  border-bottom: 5px solid green;
  cursor: pointer;
}

.recente, .perte, .album{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.disk{
  width: calc(100% / 6);
  padding: 10px;
  text-align: center;
}

.disk img{
  width: 100%;
}

.disk div{
  position: relative;
}

div .layover{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0%;
}

.layover i{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  opacity: 0%;
}

.disk div:hover, .disk div:hover i{
  opacity: 100%;
  cursor: pointer;
}

.disk h3{
  color: white;
}

.disk h5{
  color: grey;
}

/* VISIONE TABLET */
@MEDIA screen and (max-width: 768px){
  .disk{
    width: calc(100% / 4);
    padding: 10px;
    text-align: center;
  }
}

/* VISIONE SMARTPHONE */
@MEDIA screen and (max-width: 480px){
  .disk{
    width: calc(100% / 2);
    padding: 10px;
    text-align: center;
  }
}

/* MAIN DISCHI/PARTE DESTRA */
/* MAIN */

/* FOOTER */
footer{
  width: 100%;
  height: 100px;
  position: fixed;
  bottom:0;
  left: 0;
  background-color: rgb(47, 47, 47);
  display: flex;
  justify-content: space-between;
}

footer i:hover{
  cursor: pointer;
  text-shadow: 1px 1px 4px white;
}

footer div{
  height: 100%;
  width: 25%;
  padding: 10px;
}

footer .footer-song{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0;
}

footer .scritte-song{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

footer .c-c{
  display: flex;
  align-items: center;
  order: 2;
  justify-content: flex-start;
  font-size: 25px;
}

footer .img-song{
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

footer .footer-song img{
  height: 100%;
}

footer .footer-player .pulsanti{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

footer .footer-player .pulsanti i{
  padding: 0 15px;
}

footer .footer-player .pulsanti .fa-play-circle{
  font-size: 30px;
}

footer .footer-player .tempo{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}

footer .footer-player .tempo .bar{
  width: 70%;
  height: 1px;
  border: 3px solid grey;
  background-color: grey;
  border-radius: 3px;
  padding: 0;
  margin: 0 10px;
  position: relative;
}

footer .footer-player .tempo .bar div{
  width: 40%;
  height: 100%;
  background-color: white;
  border: 3px solid white;
  border-radius: 3px;
  padding: 0;
  position: absolute;
  left: -3px;
  top: -3px;
}

footer .footer-mirror{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

footer .footer-mirror .i-mirror{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer .footer-mirror .i-mirror i{
  padding-right: 10px;
  font-size: 15px;
}

footer .footer-mirror .bar{
  width: 50%;
  height: 1px;
  border: 3px solid grey;
  background-color: grey;
  border-radius: 3px;
  padding: 0;
  margin: 0 10px;
  position: relative;
}

footer .footer-mirror .bar div{
  width: 40%;
  height: 100%;
  background-color: white;
  border: 3px solid white;
  border-radius: 3px;
  padding: 0;
  position: absolute;
  left: -3px;
  top: -3px;
}

/* VISIONE TABLET FOOTER */
@MEDIA screen and (max-width: 768px){
  footer div{
    height: 100%;
    width: 22%;
    padding: 10px;
  }

  footer .footer-song{
    height: 100%;
    width: 30%;
    padding: 10px;
  }

  footer i{
    font-size: 10px;
    padding: 0 5px;
  }

  footer .footer-player .pulsanti i{
    padding: 0 5px;
  }

  footer .footer-player .pulsanti .fa-play-circle{
    font-size: 20px;
  }

  footer .footer-song i{
    font-size: 20px;
  }

  footer .footer-song .c-c{
    display: flex;
    order: 2;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    padding-left: 40%;
  }

  footer .footer-player .tempo{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
    padding: 0;
  }

  footer .footer-player .tempo .bar{
    width: 90%;
  }

  footer .footer-mirror{
    display: flex;
    flex-direction: column;
  }

  footer .footer-mirror .i-mirror{
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 50%;
  }

  footer .footer-mirror .i-mirror i{
    padding-right: 10px;
    font-size: 15px;
  }

  footer .footer-mirror .bar{
    width: 100%;
  }
}

/* VISIONE SMARTPHONE FOOTER */
@MEDIA screen and (max-width: 480px){
  footer div{
    height: 100%;
    width: 30%;
    padding: 10px;
  }

  footer .footer-song .scritte-song h3{
    font-size: 0.7em;
  }

  footer .footer-song .scritte-song h5{
    font-size: 0.7em;
  }

  footer .footer-song .c-c{
    display: flex;
    order: 2;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
  }

  footer .img-song{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    height: 80%;
    padding: 0;
  }

  footer .footer-song img{
    height: 100%;
  }
}
/* FOOTER */
